/* EditProductManagement.css */

.container {
  padding: 24px;
  background: #ffffff;
  border-radius: 8px;
  margin-top: 40px;
}

.header {
  display: flex;
  justify-content: space-between;
  align-items: center;
  margin-bottom: 20px;
}

.header h2 {
  margin: 0;
  margin-left: 450px;
}

.header .ant-btn {
  background-color: #52c41a;
  border-color: #52c41a;
}

.image-upload-col {
  display: flex;
  justify-content: flex-end;
  align-items: flex-start;
  padding-right: 16px;
  margin-top: 140px;
}

.image-upload-item {
  text-align: center;
}

.form-input-col {
  padding-left: 16px;
}

.form-item {
  margin-bottom: 16px;
}
