/* OrderDetailManagement.module.css */
.container {
  margin: 20px;
}

.formTitle {
  display: inline-flex;
  align-items: center;
}

.cardStyle {
  box-shadow: 0px 0px 15px rgba(0, 0, 0, 0.1);
}

.tableStyle {
  margin-top: 20px;
  box-shadow: 0px 0px 15px rgba(0, 0, 0, 0.1);
  border-radius: 10px;
}

.cardSpacing {
  margin-top: 15px;
}

.buttonPrimary {
  display: flex;
  justify-content: center;
  align-items: center;
  background: orange;
  width: 100px;
  margin: 0 5px;
}

.formItemSpacing {
  padding-left: 50px;
  display: flex;
  align-items: center;
}

.colSpacing {
  padding-right: 50px;
}
