.product-detail-container {
    padding: 20px;
  }
  
  .product-card {
    height: 500px;
    object-fit: contain;
  }
  
  .product-image-list {
    margin-top: 16px;
  }
  
  .product-image {
    width: 100%;
    object-fit: contain;
    cursor: pointer;
  }
  
  .specifications-card {
    margin-top: 20px;
    border-radius: 8px;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
  }
  
  .specifications-list {
    padding: 0 20px;
  }
  
  .specifications-item {
    margin-bottom: 10px;
    list-style-type: disc;
  }
  
  .warranty-card {
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
  }
  
  .sticky-info {
    position: sticky;
    top: 20px;
    background: #fff;
    border: 1px solid #f0f0f0;
    border-radius: 8px;
    max-height: 100vh;
    overflow: auto;
  }
  
  .tag-section {
    font-size: 14px;
    background-color: #ff4d4f;
    padding: 20px;
    color: white;
    font-weight: bold;
  }
  
  .product-details {
    padding: 20px;
  }
  
  .version-tag,
  .color-tag,
  .type-tag {
    font-size: 16px;
    padding: 5px 10px;
    cursor: pointer;
  }
  
  .version-tag {
    color: rgb(45, 45, 255);
    background-color: #eceffc;
  }
  
  .color-tag {
    color: rgb(0, 138, 0);
    background-color: #e4faeb ;
  }
  
  .type-tag {
    color: rgba(172, 100, 7, 0.788);
    background-color: #ffdfc1;
  }
  
  .price-text {
    color: red;
  }
  
  .add-to-cart-btn {
    width: 100%;
    height: 40px;
    background-color: #69c0ff;
    color: white;
    font-weight: bold;
  }
  
  .buy-now-btn {
    width: 100%;
    height: 40px;
    background-color: #ff4d4f;
    font-weight: bold;
    color: white;
  }
  