/* ProductCategory.css */

/* Container padding */
.container {
    padding: 20px;
  }
  
  /* Card styles for the header section */
  .header-card {
    background-color: white;
    border-radius: 10px;
    margin-bottom: 20px;
  }
  
  /* Title styles for the category name */
  .category-title {
    font-size: 24px;
    font-weight: bold;
    margin-bottom: 16px;
  }
  
  /* Paragraph styles for the category description */
  .category-description {
    font-size: 16px;
    margin-bottom: 20px;
  }
  
  /* Carousel styles */
  .carousel-container {
    padding: 0 10px;
  }
  
  .carousel-tag-container {
    text-align: center;
    padding: 0 5px;
  }
  
  .carousel-tag {
    font-size: 14px;
    padding: 4px 8px;
    border-radius: 15px;
    cursor: pointer;
    background-color: #f0f2f5;
    margin: 0 10px;
    letter-spacing: -0.05em;
    width: 90%;
    text-align: center;
  }
  
  /* Product card styles */
  .product-card {
    border-radius: 10px;
    overflow: hidden;
    display: flex;
    flex-direction: column;
    height: 100%;
  }
  
  .product-card-title {
    color: #fe3464;
    font-weight: bold;
    font-size: 16px;
  }
  
  .product-card-brand {
    font-size: 14px;
    font-weight: bold;
  }
  
  .product-card-category {
    font-size: 14px;
    font-weight: bold;
  }
  
  /* Load more button container */
  .load-more-container {
    text-align: center;
    margin-top: 20px;
  }
  